<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <!--写入文件-->
    <target   xsi:type="File" name="DebugFile"   fileName="Logs\Debug\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target   xsi:type="File" name="InfoFile"    fileName="Logs\Info\${shortdate}.log" 
      layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target  xsi:type="File"  name="ErrorFile"   fileName="Logs\Error\${shortdate}.log" 
      layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <target  xsi:type="File"  name="TraceFile"   fileName="Logs\Trace\${shortdate}.log"
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
   <target   xsi:type="ColoredConsole" name="coloredConsole" 
     layout="日志时间：${longdate}${newline}日志来源：${stacktrace}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
    </target>
    <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
    <highlight-row condition="level == LogLevel.Trace" foregroundColor="Green" />
    <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
    <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
    <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    
    <target xsi:type="Database" name="logDB" >
    
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>v2viX7LrzsMHNsuzxq02poO9cuUvnNbbNfNe6hli7WOiOLfGpR0OXC+dukzEp1vRjenxu+Lv0lpI99i6EyEh3OtrdneZ0nTII1a7+mu25cUtvoonTaOU758IZQtpZHvJrWKn2ehqMtbmmPodSNIBVY9lLWDSh5EQsnDO71RehK4=</connectionString>
      <commandText>
        insert into LoggerInfo(Level,AppName,StackTarce,Message,IP,UserName) values(@Level,@AppName,@StackTarce,@Message,@IP,@UserName)
      </commandText>
      <parameter name="@Level" layout="${level}" />
      <parameter name="@StackTarce" layout="${stacktrace}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@AppName" layout="${event-context:item=AppName}" />
      <parameter name="@IP" layout="${event-context:item=IP}" />
      <parameter name="@UserName" layout="${event-context:item=UserName}" />

    </target>
  
  </targets>

  <rules>
    <!--根据日志级别分别写文件，也可以放一个文件中-->
    <logger name="*" level="Debug" writeTo="DebugFile" />
    <logger name="*" level="Info" writeTo="InfoFile" />
    <logger name="*" level="Error" writeTo="ErrorFile" />
    <logger name="*" level="Trace" writeTo="TraceFile" />
    <!--写数据库-->
    <logger name="*" minlevel="Debug"  writeTo="logDB"/>
    <logger name="*" minlevel="Debug" writeTo="coloredConsole" />
  </rules>
  
</nlog>